.popup-outline{
    
}

.detail-popup{
    
}

.detail-contents{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #e9e9e9;
    border-left: solid 14px #1bdb65;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    width: 400px;
    height: 450px;
    box-shadow:2px 2px 15px;
}

.detail-forms{
    position: relative;
    top: 10px;
    bottom: 0px;
    left: 0px;
}

/* .detail-title{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
} */

.edit-task {
	position: relative;
	width: 90%;
	margin: 40px 3%;
}
.edit-task textarea[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
    width: 100%;
    height: 8em;
	letter-spacing: 1px;
	padding-left: 0.5em;
}

.detail-title {
	position: relative;
	width: 90%;
	margin: 40px 3%;
}
.detail-title textarea[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
    width: 100%;
    height: 8em;
	letter-spacing: 1px;
	padding-left: 0.5em;
}

.detail-title textarea[type='text']:focus {
	outline: none;
}
.detail-edit {
    resize: none;
	padding: 7px 14px;
	transition: 0.4s;
	border: 1px solid #1b2538;
    background: #f4f4f4;

}
.detail-edit ~ .focus_line:before,
.detail-edit ~ .focus_line:after {
	position: absolute;
    top: 0px;
	left: 0;
	width: 0;
	height: 2px;
	content: '';
	transition: 0.3s;
	background-color: #1bdb65;
}
.detail-edit ~ .focus_line:after {
	top: auto;
	right: 0;
	bottom: 5px;
	left: auto;
}
.detail-edit ~ .focus_line i:before,
.detail-edit ~ .focus_line i:after {
	position: absolute;
    top: auto;
    bottom: auto;
    left: 0px;
	width: 2px;
	height: 00;
	content: '';
	transition: 0.4s;
	background-color: #1bdb65;
}
.detail-edit ~ .focus_line i:after {
	top: 0;
	right: 0;
	bottom: 0px;
	left: auto;
}
.detail-edit:focus ~ .focus_line:before,
.detail-edit:focus ~ .focus_line:after,
.detail-title.detail-edit ~ .focus_line:before,
.detail-title.detail-edit ~ .focus_line:after {
	width: 100%;
	transition: 0.3s;
}
.detail-edit:focus ~ .focus_line i:before,
.detail-edit:focus ~ .focus_line i:after,
.detail-title.detail-edit ~ .focus_line i:before,
.detail-title.detail-edit ~ .focus_line i:after {
	height: 96%;
	transition: 0.4s;
}
.detail-edit ~ label {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
/* .detail-edit:focus ~ label,
.detail-title.detail-edit ~ label {
	font-size: 12px;
	top: -18px;
	left: 0;
	transition: 0.3s;
	color: #da3c41;
} */

.edit-task-title{
    position: absolute;
    bottom: 125px;
}
.detail-name{
    position: absolute;
    bottom: 125px;
}

.due-title{
    position: relative;
    left: 10px;
}

.due-edit{
    margin-left: 10px;
    width: 150px;
    transition: 0.4s;
    border: 2px solid #1b2538;
    border-radius: 5px;
    background: #f4f4f4;
    font-size: 14px;
}

.input[type=date]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}


.submit-btn{
    position: relative;
    bottom: 57px;
    left: 280px;

    display: inline-block;
    width: 90px;
    height: 56px;
    text-align: center;
    border: 0px solid ;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

.submit-btn:hover{
    background-color: #01b446;
    color: #e0dede;
}

input.submit-btn:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}