.task-botton{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0px solid ;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

.task-botton:hover{
    background-color: #01b446;
    color: #e0dede;
}

