.home-back{
    padding-top: 60px;
    height: auto;
    width: auto;
    background: #eeeeee;
}

.fixed-header{
    width: 100%;
    height: 50px;
    background-color: #e6e6e6;
    border-bottom: solid 5px #1bdb65;
    position: fixed;
    z-index: 10;


    box-shadow: 0px 2px 5px;
}

.header-item{
    background-color: transparent;
    height: 50px;
    width: 140px;
    margin-left: 0px;
    font-family: 'Permanent Marker', cursive;
    display: inline-block;

    position: relative;
    left: 0vw;
    bottom: 45px;
    float: right;
}

.header-item:hover{
    cursor: pointer;
}

.header-text:hover{
    border: none;
    text-decoration: none;
    color: #1bdb65;
}

#header-icon{
    font-family: 'Permanent Marker', cursive;
    width: 200px;
    font-size: 32px;
    position: relative;
    left: 20px;
    text-decoration: none;
    color:black;
    text-shadow: black 0.5px 0.5px 1px;
    display: inline;
}

.header-text{
    height: 32px;
    display: block;
    background-color: #e6e6e6;
    text-align: center;
    position: relative;
    padding: 9px;
    color:black;
    text-decoration: none;
    font-size: 24px;
    
}

.header-text:hover{
    background-color: #a2f5bf;
}

.task-botton{
    position: relative;
    left:190px;
    bottom: -6px;
}

#delete-icon{

}

.delete-list-button{
    height: 30px;
    width: 30px;

    border: 0px solid #172B4D;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #a3ff9f;
    box-shadow: 0px 0px 0px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;

    position: relative;
    left:280px;
    bottom:10px;
}

.delete-list-button:hover{
    color: #e0dede;
}

#task-detail-btn{
    position: relative;
    bottom:26px;
    left:220px;
}

.btn-outline-dark{
    position: relative;

    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    border: 0px solid ;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

.add-list{
    margin-top: 20px;
    height: 60px;
    width: 100%;
}

.add-list-form{
    position: relative;
    left:150px;
    bottom:50px;
}

.add-list-btn{
    position: relative;

    display: inline-block;
    width: 120px;
    height: 56px;
    text-align: center;
    border: 0px solid ;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

.add-list-btn:hover{
    background-color: #01b446;
    color: #e0dede;
    cursor: default;
}

.list-wrapper{
    width: auto;
    background-color: #eeeeee;
}

.add-list-title{
    position: relative;
    top:10px;
}

#add-list-submit:hover{
    background-color: #01b446;
}

#add-list-input{
    font: 15px/24px sans-serif;
    width: 250px;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #626770;
    background: transparent;
}

#add-list-input:focus{
    border-bottom: 2px solid #1bdb65;
	outline: none;
}

#add-list-submit{
    display: inline-block;
    width: 45px;
    height: 30px;
    text-align: center;
    border: 0px solid ;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

#fake:hover{
    border: none;
    text-decoration: none;
}

.list-retitle{
    font: 24px/24px sans-serif;
    width: 250px;
	box-sizing: border-box;
	padding: 0em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #626770;
    background: transparent;
    position: relative;
    bottom:10px;
}

.list-retitle:focus{
    border-bottom: 2px solid #1bdb65;
	outline: none;
}

#new-task-form:hover{
    background-color: #01b446;
}

.list-title-error{
    color: #ff6464;
    font-size: 20px;
    height: 1em;
    position: relative;
    bottom: 0px;
    position: relative;
}

.list-add-error{
    color: #ff6464;
    font-size: 16px;
    height: 1em;
    position: relative;
    bottom: 15px;
    left:34px;
}

.new-task-validate{
    color:#ff6464;
    font-size:16px;
    position: relative;
    left:10px;
    top:10px;
}

.edit-task-error{
    color:#ff6464;
    position: relative;
    left:12px;
    font-weight:bold;
}


