.aaa{
    background:#a3ff9f;
    height: 100vh;
}

#login-hedder{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    bottom:15px;
}

#fake{
    color:#1bdb65;
    border-color: #091b81;
}

.error-messages{
    height:2em;
    color: #ff6464;
}

#login-require-message{
    position: relative;
    top:0px;
    left:120px;
}

.normalLogin{
    border: solid 4px #cfcfcf;
    width: 700px;
    height: 400px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    background: #e6e6e6;

    box-shadow:2px 2px 10px;

    position: relative;
    top: 80px;
    margin: auto;

}

.normalLogin p{
    margin: 0px 0px;
}

.btn{
    position: relative;
    top:20px;
    z-index: 100;

    display: inline-block;
    width: 90px;
    height: 56px;
    text-align: center;
    border: 0px solid ;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;

    margin-bottom: 20px;;
}

.btn:hover{
    background-color: #01b446;
    color: #e0dede;
}

.login-btn-wrapper{
    text-align: center;
}

.normal-login-form{
    font: 15px/24px sans-serif;
    width: 350px;

    transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #626770;
    background: transparent;

    margin-bottom: 12px;
    position: relative;
    left: 130px;
    bottom:20px;
}

.normal-login-form-contents{
    position: relative;
    top:30px;
}

#link-to-signup{
    position: relative;
    top: 0px;
    font-size: 18px;
}

.nomal-login{
    margin:0px;
}

.login-form-title{
    position: relative;
    left:120px;
    bottom:20px;
}

.login-error-message{
    color:red;
    height: 2em;
}

.login-forms{
    position: relative;
    top:25px;
}

.oauth-login-wrapper{
    position: relative;
    left:180px;
    bottom:40px;
    width: 100px;
}

.error-message{
    height:1em;
    color: #ff6464;
}

.email-login-error,
.password-login-error{
    height: 2em;
    position: relative;
    left:150px;
    top:35px;
}


.wrapper-social-login{
    left: 150px;
    bottom: 16px;
    position: relative;
}