.tutorial-popup-back{
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.3);;
}

.tutorial-popup-wrapper{
    height: 480px;
    width: 680px;
    background: #e6e6e6;    
    border-left: solid 30px #1bdb65;
    box-shadow:10px 10px 15px;
    margin: 0 auto;
    position: relative;
    top:50px;
}

#popup-hedder{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    bottom:0px;
}
.lastSlide{
    margin-top:50px;
}

#popup-fake{
    color:#1bdb65;
}

.tutorial-popup-contents{
    font-size: 60px;
    text-align: center;
    padding: 40px 40px 40px 40px;
}

.popup-submit-button{
    width: 140px;
    height: 50px;
    text-align: center;
    border: 0px solid ;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom:100px;
    position: relative;
    top: 1px;
    left: 270px;
}

.popup-submit-button:hover{
    background-color: #01b446;
    color: #e0dede;
}

.popup-title{
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.popup-title2{
    text-align: center;
    padding-top: 30px;
    font-size: 22px;
    font-weight: bold;
}

.slider-control-bottomcenter button{
    background: black !important;
    border-radius: 15%; 
    width: 2px !important; 
    height: 6px !important;
    
  }
  
  .slider-control-bottomcenter svg{
    display: none !important;
   }
  .slider-control-bottomcenter li{
    margin-right: 6px;
    margin-top: 20px;
   }