.setting{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #e6e6e6;    
    border-left: solid 20px #1bdb65;    
    width: 800px;
    height: 700px;
    box-shadow:2px 2px 15px;
    
    position: relative;
    margin: 50px auto;
    
}

.setting-back{
    height: 160vh;
    width: 100%;
    background-color: #a3ff9f;
}

.setting-contents{
    position: relative;
    left:150px;
}

.setting-hedder{
    font-size:26px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    
}

#setting-user{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.setting-form{
    font: 15px/24px sans-serif;
    width: 250px;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #626770;
    background: transparent;

    position: relative;
    left:20px;    
    margin-bottom: 40px;
}

.name-setting-wrapper{
    position: relative;
    right: 55px;
}

.email-setting-wrapper{
    position: relative;
    right:55px;
}

#introduction{
    resize: none;
    font: 15px/24px sans-serif;
    width: 400px;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 2px solid #626770;
    background: #f0f0f0;

    position: relative;
    /* left: 100px; */

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

input:focus, textarea:focus {
	border-bottom: 2px solid #1bdb65;
	outline: none;
}

#introduction:focus{
    border: 2px solid #1bdb65;
    
}

.setting-title{
    position: relative;
    /* left:150px; */
}

#email{
    width: 350px;

    position: relative;
    /* left: 70px; */
}

#password-setting-title{
    position: relative;
    right:10px;
}

.setting-btn{
    position: relative;
    right:10px;
    top: 60px;

    display: inline-block;
    width: 190px;
    height: 80px;
    text-align: center;
    border: 0px solid ;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    
}

.btn:hover{
    background-color: #01b446;
    color: #e0dede;
}

.btn-wrapper{
    position: relative;
    left:170px;
    width: 400px;
}

#label-introduction{
    position: relative;
    bottom:155px;
}

.setting-password{
    position: absolute;
    bottom: 208px;
    left: 270px;

    display: inline-block;
    width: 80px;
    height: 32px;
    text-align: center;
    border: 0px solid ;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.setting-password:hover{
    background-color: #01b446;
    color: #e0dede;
}

.password-form-group{
    position: relative;
    top:45px;
}

#password-submit-button{
    position: relative;
    left:200px;
    top:0px;
    bottom:50px;
    height: 60px;
}

#name-setting-error{
    position: relative;
    top:28px;
    right:0px;
}

#email-setting-error{
    position: relative;
    top:100px;
    left:0px;
}

.error-message{
    width: 500px;
}

#password-setting-error{
    position: relative;
    left:80px;
    top:35px;
}

#confirm-setting-error{
    position: absolute;
    left:80px;
    top:135px;
}

.setting-popup-contents{
padding: 0.5em 1em;
    margin: 1em 0;
    background: #e9e9e9;
    border-left: solid 14px #1bdb65;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    width: 500px;
    height: 300px;
    box-shadow:2px 2px 15px;
}



