.signup-back{
    background:#a3ff9f;
    height: 100vh;
}

.fixed-header{
    width: 100%;
    height: 50px;
    background-color: #e6e6e6;
    border-bottom: solid 5px #1bdb65;
    position: fixed;
    z-index: 10;

    box-shadow: 0px 2px 5px;
}

#signup-hedder{
    margin-bottom:0em;
    margin-top: 0em;

    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    position: relative;
    left: 120px;
    top:0px;
}

.signup-forms{
    padding: 0em 0em;
    margin: 0em 0;
    background: #e6e6e6;
    border-left: solid 20px #1bdb65;
    width: 720px;
    height: 450px;
    box-shadow:2px 2px 15px;

    position: relative;
    top: 100px;
    margin: 0px auto;
}

.signup-form{
    font: 15px/24px sans-serif;
    width: 350px;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: none;
	border-bottom: 2px solid #626770;
    background: transparent;

    position: relative;
    bottom:93px;
    left:160px;
    margin-bottom: 6px;
}

input:focus{
	border-bottom: 2px solid #1bdb65;
	outline: none;
}

.signup-submit-botton{
    display: inline-block;
    width: 90px;
    height: 56px;
    text-align: center;
    border: 0px solid ;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 4px;
    transition: .2s;
    background-color: #1bdb65;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;

    position: relative;
    left:290px;

}

.signup-submit-botton:hover{
    background-color: #01b446;
    color: #e0dede;
}


.social-login{
    width: 40px;
    height: 40px;
    border: 0px solid ;
    font-size: 20px;
    color: #ffffff;
    box-shadow: 1px 1px 1px #3d3d3d;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
}

.signup-form-wrapper{
    position: relative;
    top:80px;
}

#google{
    background-color: #DB4437;
}
#google:hover{
    background-color: #eeeeee;
    color:#DB4437;
}

#facebook{
    background-color:#3B5998;
    position: relative;
    left:10px;
}
#facebook:hover{
    background-color: #eeeeee;
    color:#3B5998;
}

.oauth-signup-wrapper{
    position: relative;
    bottom:30px;
    width: 100px;
}

.error-message{
    /* color: #ff6464; */
    color:blue;
    font-size: 12px;
    height: 1em;

    position: relative;
    bottom:45px;
    left:82px;
}

.error-messages{
    position: relative;
    bottom:0px;
    /* padding-bottom:100px; */
}

input:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
}

.wrapper-social-login{
    left: 150px;
    bottom: 16px;
    position: relative;
}